<template>
  <div class="contact-form">
   <div class="form-header text-center">
    <slot name="title">
      <p><em>See something that’s missing or in need of an update?</em><br>Help us improve this site.</p>
    </slot>
   </div>

   <form class="contact-form" action="" method="post" @submit.prevent="handleSubmit">
    <div :class="{'error': form.firstName.valid === false}">
      <input type="text" name="first" placeholder="First Name" v-model="form.firstName.value">
    </div>
    <div :class="{'error': form.lastName.valid === false}">
      <input type="text" name="last" placeholder="Last Name" v-model="form.lastName.value">
    </div>
    <div :class="{'error': form.email.valid === false}">
      <input type="text" name="email" placeholder="Email Address" v-model="form.email.value">
    </div>
    <div :class="{'error': form.message.valid === false}">
      <textarea name="message" rows="8" placeholder="Message" v-model="form.message.value"></textarea>
    </div>
    <div>
      <input type="submit" value="Submit">
    </div>
    <div :class="{'errors message': true, 'show': showError === true}">
      <p>Please fix invalid fields.</p>
    </div>
    <div :class="{'success message': true, 'show': showSuccess === true}">
      <p>Thank you for submitting.</p>
    </div>
   </form>
  </div>
</template>

<script>
import axios from 'axios'
import Api from '@/api'
export default {
  name: 'ContactForm',
  data () {
    return {
      showError: false,
      showSuccess: false,
      form: {
        email: {
          value: '',
          valid: null,
        },
        firstName: {
          value: '',
          valid: null,
        },
        lastName: {
          value: '',
          valid: null,
        },
        message: {
          value: '',
          valid: null,
        },
      }
    }
  }, 
  methods: {
    reset () {
      this.form.firstName.value = ''
      this.form.firstName.valid = null
      this.form.lastName.value = ''
      this.form.lastName.valid = null
      this.form.email.value = ''
      this.form.email.valid = null
      this.form.message.value = ''
      this.form.message.valid = null
    },
    validate () {
      let valid = true
      if(this.form.firstName.value.length < 1) {
        valid = false
        this.form.firstName.valid = false
      } else {
        this.form.firstName.valid = true
      }

      if(this.form.lastName.value.length < 1) {
        valid = false
        this.form.lastName.valid = false
      } else {
        this.form.lastName.valid = true
      }

      if(this.form.email.value.length > 0 && this.validateEmail(this.form.email.value ? this.form.email.value : '')) {
        
        this.form.email.valid = true
      } else {
        valid = false
        this.form.email.valid = false
      }

      if(valid === false){
        this.showError = true
      } else{
        this.showError = false
      }

      return valid
    },
    validateEmail (email) {
      let emailRegex = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
      return emailRegex.test(email)
    },
    handleSubmit () {
      if(this.validate()){

        let msg = `
          LOCALE: ${this.$store.state.locale}<br/><br/>
          URL: ${window.location.href}<br /><br />
          Message: ${this.form.message.value}
        `

        let formData = new FormData()
        formData.append('action', 'contact-form/send')
        formData.append('fromName', `${this.form.firstName.value} ${this.form.lastName.value}`)
        formData.append('fromEmail', this.form.email.value)
        formData.append('subject', 'Message from Website:')
        formData.append('message', msg)

        let config = {
          headers: {
            'Accept': 'application/json',
          }
        }

        axios({
          method: 'POST',
          url: Api.getEmailPath(),
          data: formData,
        }, config).then((response) => {
          
          console.log('Response', response)

          this.reset()
          this.showSuccess = true
          setTimeout(() => {
            this.showSuccess = false
          }, 5000)
          
        }).catch((e) => {
          console.log('Error', e)
        })


        this.reset()
        this.showSuccess = true
        setTimeout(() => {
          this.showSuccess = false
        }, 5000)
      }
    }
  }
}
</script>

<style scoped lang="scss">

</style>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
 @import "../assets/sass/_variables";
 .contact-form{
  // min-height: 420px;
  background-color: $lightYellow;
  padding:15px;

  &.contact-large{
    border:10px solid $white;
    box-shadow: 0px 0px 10px rgba(0,0,0,.5);
    padding:25px;
    .form-header{
      p{
        font-size: 16px;
        margin-bottom:10px;
        font-family: $baseFontFamily;
      }
    }
    input, textarea{
      font-size:14px;
    }
  }
 }
  form{
    max-width: 400px;
    margin:0 auto;
  }
 .form-header{
  margin-bottom: 10px;

  p{
   color:$brandBrown;
   font-size: 14px;
  }

 }
 .error{
   input,textarea {
     border: 1px solid red;
   }
 }
 .message{
   margin-top:10px;
   display: none;
   &.show{
     display: block;
   }
   p{
     font-size:12px;
   }
 }
</style>
