<template>
  <div class="google-map" id="google-map"></div>
</template>

<script>
const google = window.google
export default {
  name: 'DisplayMap',
  props: ['kml'],
  data () {
    return {
      mapName: 'google-map',
    }
  },
  mounted () {
    window.onresize = function () {
      var currCenter = map.getCenter()
      google.maps.event.trigger(map, 'resize')
      map.setCenter(currCenter)
    }
    const element = document.getElementById(this.mapName)
    const options = {
      zoom: 5,
      center: new google.maps.LatLng(31.596702781169984, 7.9459339005534275),
      mapTypeId: 'satellite',
    }
    const map = new google.maps.Map(element, options)

    var kmlLayer = new google.maps.KmlLayer(this.kml, {
      suppressInfoWindows: true,
      preserveViewport: false,
      map: map,
    })

    // console.log('cta layer', kmlLayer)
  },
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
.google-map{
  position: absolute;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  background: gray;
}
</style>
