<template>
  <div class="google-map-container">
    <div class="google-map-header">
      <div class="map-title">
        <h3>Search by Location:</h3>
      </div>
      <div class='map-nav'>
        <button class='btn clear-btn'>Clear</button>
        <button class='btn search-btn'>Search</button>
      </div>
    </div>
    <div class="google-map" id="google-map"></div>
  </div>
</template>

<script>
const google = window.google
export default {
  name: 'DrawingMap',
  data () {
    return {
      mapName: 'google-map',
      overlay: null,
      drawingManager: null,
      clearButton: null,
      searchButton: null,
    }
  },
  mounted () {

    let self = this

    this.clearButton = document.querySelector('.clear-btn')
    this.searchButton = document.querySelector('.search-btn')

    window.onresize = function () {
      var currCenter = map.getCenter()
      google.maps.event.trigger(map, 'resize')
      map.setCenter(currCenter)
    }
    const element = document.getElementById(this.mapName)
    const options = {
      zoom: 5,
      center: new google.maps.LatLng(31.596702781169984, 7.9459339005534275),
      mapTypeId: 'satellite',
      fullscreenControl: false,
    }
    const map = new google.maps.Map(element, options)

    const drawingManager = new google.maps.drawing.DrawingManager({
      drawingMode: google.maps.drawing.OverlayType.MARKER,
      drawingControl: true,
      drawingControlOptions: {
        position: google.maps.ControlPosition.TOP_CENTER,
        drawingModes: ['rectangle']
      },
      rectangleOptions: {
        editable: true,
      }
    })
    this.drawingManager = drawingManager

    google.maps.event.addListener(drawingManager, 'overlaycomplete', function(e) {

      self.overlay = e.overlay
      console.log(self.overlay.getBounds())
      
      // Switch back to non-drawing mode after drawing a shape.
      drawingManager.setDrawingMode(null);
      // To hide:
      drawingManager.setOptions({
        drawingControl: false
      });

      self.clearButton.style.display = "inline-block"
      self.searchButton.style.display = "inline-block"

    });

    drawingManager.setMap(map);

    this.clearButton.addEventListener('click', function () {
      
      self.overlay.setMap(null);
      self.overlay = null
      self.drawingManager.setOptions({
        drawingControl: true
      });

      self.clearButton.style.display = "none"
      self.searchButton.style.display = "none"

    })

    this.searchButton.addEventListener('click', function () {
      if(self.overlay){
        let bounds = self.overlay.getBounds()
        let ne = bounds.getNorthEast()
        let sw = bounds.getSouthWest()
        window.location = `/map/${ne.lat()},${ne.lng()}/${sw.lat()},${sw.lng()}`
      }
    })
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">

@import "./../assets/sass/_variables.scss";

// .google-map-container{
//   position: absolute;
//   top: 0;
//   left: 0;
//   width: 100%;
//   height: 100%;;
// }

.google-map-header{
  display: flex;
  h3{
  }
  .map-title{
    flex:1;
  }
}
.btn{
  border:0;
  outline: 0;
  color:black;
  font-size: 15px;
  padding: 5px 12px;
  margin-left: 10px;
  margin-top: -2px;
  color: #000;
  border: 1px solid $lightBrown;
  cursor: pointer;
  &:hover{
    color: $black;
    background-color: $lightBrown;
  }
}
.clear-btn, .search-btn{
  display: none;
}
.google-map{
  position: absolute;
  top:40px;
  bottom: 0px;
  left:0;
  width: 100%;
  margin: 0 auto;
  background: gray;
}
</style>
