<template>
    <div class="expand-section">
        <div class="exapnd-header">
            <slot name="title"></slot>
        </div>
        <div v-if="!active" class="expand-snippet">
            <slot name="snippet"></slot>
            <a class="arrow-link" v-on:click="active=true">Read More</a>
        </div>
        <div v-if="active" class="expand-content">
            <slot name="content"></slot>
            <a class="arrow-link" v-on:click="active=false">Show Less</a>
        </div>
    </div>
</template>

<script>
export default {
  name: 'ExpandingSection',
  data () {
    return {
      active: false,
    }
  },
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
@import "../assets/sass/_variables";
.arrow-link{
    cursor: pointer;
}
.expand-section{
    margin-bottom: 30px;
}
</style>
