<template>
  <footer class="footer">
   <div class="container">
    <div class="columns">
      <div class="column">
        <p>This project is made possible with support from:
         <ul class='logos'>
          <li><img :src="require('@/assets/mava-logo.png')" alt="MAVA Logo"></li>
          <li><img :src="require('@/assets/iucn-logo.png')" alt="IUCN Logo"></li>
         </ul>
        </p>
      </div>
      <div class="column text-right copyright">
        Copyright 2018  |  <a class='contact-link' v-on:click.prevent="contactOpen">Contact</a>
      </div>
    </div>
   </div>
 </footer>
</template>

<script>
import { mapActions } from 'vuex'
export default {
  name: 'Footer',
  methods: {
    ...mapActions([
      'setFormModal',
    ]),
    contactOpen () {
      this.setFormModal({ isOpen: true })
    },
  },
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
@import "../assets/sass/_variables";

.contact-link{
  cursor: pointer;
}

 footer.footer{
  margin-top:40px;
  border-top:8px solid green;
  padding-top:24px;
  font-family: $altFontFmaily;
  letter-spacing: 0px;
  font-weight: 400;
  font-size: 13px;
  color:$brandBrown;

  a{
   color: $brandBrown;
   &:hover{
    color: $brandGreen;
   }
  }
 }

 .copyright{
   @media #{$mobile} {
     margin-bottom: 10px;
   }
 }

 .columns{
  display: flex;
  .column{
   width:50%;
  }
  @media #{$mobile} {
    flex-direction: column-reverse;
    .column{
      width:100%;
      text-align: center;
    }
  }
 }
 .logos{
  display: flex;
  align-items: center;
  li{
   margin-right: 14px;
  }
  @media #{$mobile} {
    justify-content: center;
  }
 }
</style>
