<template>
  <div v-if="isActive" :class="{ 'form-modal': true }">
    <a href="#" class="close" v-on:click="closeWindow"></a>
    <div>
        <contact-form class='contact-large' type="comment">
            <div slot='title'><p><em>Please leave your comment below:</em></p></div>
        </contact-form>
    </div>

  </div>
</template>

<script>
import { mapState, mapActions } from 'vuex'
import ContactForm from '@/components/ContactForm'
export default {
  name: 'MobileNav',
  computed: {
    ...mapState({
      'isActive': (state) => state.formModal,
    }),
  },
  methods: {
    ...mapActions([
      'setFormModal',
    ]),
    closeWindow () {
      this.setFormModal({ isOpen: false })
    },
  },
  components: {
    'contact-form': ContactForm,
  },
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
@import "../assets/sass/_variables";
.form-modal{
    justify-content: center;
    align-items: center;
    // display: none;
    position: fixed;
    top:0;
    left:0;
    width:100%;
    height: 100%;
    background-color: rgba(255,255,255,.8);
    display: flex;

    .close{
        width:35px;
        height:35px;
        position: absolute;
        top:10px;
        right:10px;
        &:before,&:after{
            content:'';
            display: block;
            position: absolute;
            top:50%;
            left:50%;
            width:100%;
            height: 4px;
            background-color: $brandBrown;
            transform: translateX(-50%) rotate(45deg);
        }
        &:after{
            transform: translateX(-50%) rotate(-45deg);
        }
    }

}
</style>
