<template>
  <header>
   <div class="container">
   <div class="top-nav util-microfix">
    <div class="left">
     <router-link to="/" class="logo">
      <img :src="require('@/assets/logo.png')" :alt="$store.state.globalData.siteTitle">
     </router-link>
     <h3 class="site-title">{{$store.state.globalData.siteTitle}}</h3>
    </div>
    <div class="right">
      <div class="right-inner">
        <ul class='languages'>
          <li><a @click="setLang('fr')" class="language"><img :src="require('@/assets/language-fr.png')" alt="Language French"></a></li>
          <li><a @click="setLang('es')" class="language"><img :src="require('@/assets/language-es.png')" alt="Language Spanish"></a></li>
          <li><a @click="setLang('en')" class="language"><img :src="require('@/assets/language-en.png')" alt="Language English"></a></li>
        </ul>
        <a class="contact-link" v-on:click.prevent="openContact">{{$store.state.globalData.improve}}</a>
      </div>
     
    </div>
    <div class="mobile">
      <a class="hamburger" v-on:click="openMobile">
        <span class="line"></span>
      </a>
    </div>
   </div>
   </div>
   <div class="bottom-nav">
    <div class="container">
      <div class="nav-inner">
        <nav>
          <ul>
          <li class='sub-nav-container' v-for="(navSection, index) in $store.state.navData" v-bind:key="`page_${index}`">
            <router-link class='nav-link' :to="`/${navSection.slug}`">{{navSection.title}}</router-link>
            <ul class="sub-nav" v-if="navSection.subpages">
              <li v-for="subpage in navSection.subpages">
                <router-link class='nav-link' :to="`/${navSection.slug === 'resources'? 'resource' : navSection.slug}/${subpage.slug}`">{{subpage.title === null ? 'Title' : subpage.title}}</router-link>
              </li>
            </ul>
          </li>
          </ul>
        </nav>
      
        <div class="search">
          <form v-on:submit.prevent="onSearch">
            <input type="text" :placeholder="$store.state.globalData.searchTitle" v-model='search' />
          </form>
        </div>

      </div>

      </div>
   </div>
  </header>
</template>

<script>
import { mapActions } from 'vuex'
export default {
  name: 'Header',
  data () {
    return {
      search: '',
    }
  },
  methods: {
    ...mapActions([
      'setMobileNav',
      'setFormModal',
      'setLocale',
    ]),
    setLang(lang){
      this.setLocale(lang).then((response) => {
        window.location.reload(true)
      })
      
    },
    onSearch () {
      if (this.search !== ''){
        this.$router.push('/search/' + this.search)
        this.search = ''
      }
    },
    openMobile () {
      this.setMobileNav({ isOpen: true })
    },
    openContact () {
      this.setFormModal({ isOpen: true })
    },
  },
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
@import "../assets/sass/_variables";
.contact-link{
  cursor: pointer;
}
.site-title{
  max-width: 500px;
}
.hamburger{
  display: block;
  cursor: pointer;
  width:40px;
  &:before,&:after{
    content:'';
  }
  &:before,&:after,.line{
    display: block;
    width:100%;
    height: 5px;
    background-color: $brandBrown;
  }
  .line{
    margin:8px 0;
  }
}
header{
 margin-bottom: 10px;
}
.logo{
 float:left;
 margin-right: 10px;
}
.top-nav{
 display: flex;
 padding:10px;
 h3{
  font-style: italic;
  line-height: 1.2;
  font-size: 28px;
 }
  .left{
    flex:1;
  }
 .right{
   display: flex;
   align-items: center;
   width:200px;
  text-align: right;
 }
 .mobile{
   display: flex;
   align-items: center;
   width:50px;
   display: none;
 }
}
.languages{
 margin-bottom: 10px;
 li{
  display: inline-block;;
 }
}
.bottom-nav{
  position: relative;
  z-index: 1;
  background-color: $lightYellow;


 .nav-inner{
   display:flex;
 }
 .search{
   position: relative;
   width: 215px;
   padding: 10px 0;
   &:after{
     content: '';
     display: block;
     top: 50%;
     right: 4px;
     position: absolute;
     width: 20px;
     height: 20px;
     background: url(./../assets/search.png);
     background-size: contain;
     transform: translateY(-50%);
   }
   input{
     margin: 0px;
   }

 }
}
a.contact-link{
 font-style: italic;
 color:$brandBrown;
 &:hover{
  color:$brandGreen;
 }
}
nav{
  flex: 1;
  padding:6px 0;
 li{
  display: inline-block;
  padding:6px 20px 6px 0;
  position: relative;
 }
 a{
  color:$brandBrown;
  letter-spacing: 1.25px;
  &:hover{
   color:$brandGreen;
  }
 }
 .sub-nav-container:hover{
  .sub-nav{
   display: block;
  }
 }
 .sub-nav{
  position: absolute;
  display: none;
  background-color: $lightYellow;
  min-width: 200px;
  padding-top:10px;
  padding-left:14px;
  li{
    display: block;
  }
 }
}

@media #{$mobile} {
  .site-title{
  max-width: 400px;
  }
  .logo{
    width:60px;
    img{
      width:100%;
    }
  }
  .bottom-nav{
    display: none;
  }
  .top-nav{
    background-color: $lightYellow;
    margin:0 -15px;
    h3{
      padding-top: 5px;
      font-size: 20px;
    }
    .right{
      display: none;
    }
    .mobile{
      display: flex;
    }
  }
}

@media #{$tiny} {
  .top-nav{

    h3{
    display: none;
    }
  }
}
</style>
