<template>
  <div :class="{ 'mobile-nav': true, 'active':isActive }">
    <a href="#" class="close" v-on:click="closeWindow"></a>
    <nav>
      <ul>
       <li><router-link class='nav-link' to="/">Home</router-link></li>
       <li><router-link class='nav-link' to="/project">Project</router-link></li>
       <li><router-link class='nav-link' to="/why">Why Only Native Species</router-link></li>
       <li><router-link class='nav-link' to="/families">Families Included</router-link></li>
       <li><router-link class='nav-link' to="/resources">Resources</router-link></li>
       <li><a class="contact-link" v-on:click.prevent="contactModal">Help us improve this site</a></li>
      </ul>
     </nav>
  </div>
</template>

<script>
import { mapState, mapActions } from 'vuex'
export default {
  name: 'MobileNav',
  computed: {
    ...mapState({
      'isActive': (state) => state.mobileNav,
    }),
  },
  watch: {
    $route () {
      if (this.isActive) {
        this.setMobileNav({ isOpen: false })
      }
    },
  },
  methods: {
    ...mapActions([
      'setMobileNav',
      'setFormModal',
    ]),
    closeWindow () {
      this.setMobileNav({ isOpen: false })
    },
    contactModal () {
      this.setFormModal({ isOpen: true })
    },
  },
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
@import "../assets/sass/_variables";
.contact-link{
    cursor: pointer;
}
.mobile-nav{
    display: none;
    position: fixed;
    top:0;
    left:0;
    width:100%;
    height: 100%;
    background-color: $lightYellow;

    .close{
        width:35px;
        height:35px;
        position: absolute;
        top:10px;
        right:10px;
        &:before,&:after{
            content:'';
            display: block;
            position: absolute;
            top:50%;
            left:50%;
            width:100%;
            height: 4px;
            background-color: $brandBrown;
            transform: translateX(-50%) rotate(45deg);
        }
        &:after{
            transform: translateX(-50%) rotate(-45deg);
        }
    }

    nav{
        display: flex;
        height: 100%;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    li{
        padding:10px 0;

        a{
            font-size: 22px;
            color:$brandBrown;
            &:hover, &.router-link-exact-active{
                color:$brandGreen;
            }
        }
    }

    @media #{$mobile} {
        &.active{
            display: block;
        }

    }

}
</style>
