<template>
    <div class="sidebar">
        <div class="image-slider">
        <div class="image-slide" @click="photoClick(index)" v-if="showPhoto(index)" v-for="(photo,index) in photos" :key="index">
            <img :src="photo.thumb" alt="">
            <div class="image-slide--content">
            <span class='caption' v-html="photo.caption"></span>
            <span class="author">{{$store.state.globalData.photoBy}}: {{photo.author}}</span>
            </div>
        </div>
        <div class="slider-navigation" v-if="!isMobile">
            <a class="slider-button" v-on:click="prevPhoto" v-show="currentPhoto > 0"><img class='flip' :src="require('@/assets/arrow-down.png')" alt="Arrow Up"></a>
            <a class="slider-button" v-on:click="nextPhoto" v-show="currentPhoto + photoCount < photos.length"><img :src="require('@/assets/arrow-down.png')" alt="Arrow Down"></a>
        </div>
        </div>
    </div>
</template>

<style lang="scss">
@import "../assets/sass/_variables";

.image-slider{
  @media #{$mobile} {
    margin-top: 20px;
  }
}
.image-slide{
  cursor: pointer;
  position: relative;
  overflow: hidden;
  margin-bottom: 10px;
  &:hover{
    .image-slide--content{
      transform: translateY(0);
    }
  }
  &--content{
    transform: translateY(100%);
    transition: .3s;
    position: absolute;
    width:100%;
    bottom:0;
    left:0;
    background: rgba(241,240,236,.8);
    line-height: 1;
    padding: 10px;
  }
  .author{
    font-size: 14px;
    font-style: italic;
    display: block;
    margin-bottom: 5px;
  }
  .caption{
    font-family: $altFontFmaily;
    font-weight: 400;
    font-size: 12px;
  }
  img{
    width:100%;
    display: block;
  }

  @media #{$mobile} {
    &--content{
      position: static;
      transform: translateY(0);
    }
  }

}
.slider-navigation{
  text-align: center;
  background-color: $brandBrown;
  padding:10px 0;
  .slider-button{
    cursor: pointer;
    color:$white;
    padding:0 10px;
    img.flip{
      transform: rotate(180deg)
    }
  }
}
</style>

<script>
import { mapState } from 'vuex'
export default {
    props:['photos'],
    computed: {
        ...mapState({
        isMobile: (state) => state.isMobile,
        }),
    },
    data () {
        return {
            currentPhoto: 0,
            photoCount: 3,
        }
    },
    methods: {
        photoClick(index){
            this.$emit('photoClicked', this.photos[index].photo)
        },
        showPhoto (index) {
        if (this.isMobile) {
            return true
        }
        return index >= this.currentPhoto && index < this.currentPhoto + this.photoCount
        },
        nextPhoto () {
        this.currentPhoto++
        },
        prevPhoto () {
        this.currentPhoto--
        },
    }
}
</script>