<template>
  <div :class="{ 'photo-modal': true }">
    <a href="#" class="close" v-on:click="closeWindow"></a>
    <div class="photo-container" :style="{ backgroundImage: `url(${photo})` }">

    </div>
  </div>
</template>

<script>
export default {
  name: 'PhotoModal',
  props: ['photo'],
  methods: {
   closeWindow () {
      this.$emit('close')
    },
  },
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
@import "../assets/sass/_variables";
.photo-modal{
    justify-content: center;
    z-index: 999;
    align-items: center;
    // display: none;
    position: fixed;
    top:0;
    left:0;
    width:100%;
    height: 100%;
    background-color: rgba(255,255,255,.8);
    display: flex;

    .photo-container{
        position: absolute;
        width: 80%;
        height: 80%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
    }

    .close{
        width:35px;
        height:35px;
        position: absolute;
        top:10px;
        right:10px;
        &:before,&:after{
            content:'';
            display: block;
            position: absolute;
            top:50%;
            left:50%;
            width:100%;
            height: 4px;
            background-color: $brandBrown;
            transform: translateX(-50%) rotate(45deg);
        }
        &:after{
            transform: translateX(-50%) rotate(-45deg);
        }
    }

}
</style>
