@import "_variables";
@import "_mixins";

.arrow-link{
    &:after{
        content:'';
        border:5px solid transparent;
        border-left:5px solid $brandYellow;
        display: inline-block;
        width:0;
        height:0;
        margin-left:5px;
        transition: .3s;
    }
    &:hover{
        &:after{
            border-left-color: $brandGreen;
        }
    }

}