@import "_variables";
@import "_mixins";

::-moz-selection { background: $black; color: $white; }
::selection { background: $black; color: $white; }

::placeholder { color: $siteSubtle; }
::-webkit-input-placeholder { color: $siteSubtle; }
::-moz-placeholder { color: $siteSubtle; }
:-ms-input-placeholder { color: $siteSubtle; }
:-moz-placeholder { color: $siteSubtle; }

input[type=text],
textarea{
 outline:0;
 border:0px solid $lightBrown;
 font-family: $altFontFmaily;
 font-size: 12px;
 width:100%;
 padding:6px 8px;
 margin-bottom: 10px;
 resize:none;
 &:focus{
  outline: 0;
 }
}

input[type=submit]{
 -webkit-appearance:none;
 background: $brandGreen;
 color:$white;
 border:0;
 font-family: $altFontFmaily;
 text-transform: uppercase;
 padding:6px 20px;

}
