@import "_variables";
@import "_mixins";

.container{
  width: 100%;
  height: 100%;
  max-width: $grid-max-width;
  margin: 0 auto;
  padding:0 15px;
}

.centered{
  text-align: center;
}

.reverse-indent{
  padding-left:20px;
  text-indent: -22px;
}

.single-column{
  padding:25px 0;
}

.two-column-sidebar{
  display: flex;
  padding:25px 0;
  .sidebar{
    width: 220px;
    margin-right:40px;
  }
  .column-content{
    flex:1;
  }
  &.right-sidebar{
    .sidebar{
      margin-right: 0px;
      margin-left: 40px;
    }
  }
  @media #{$mobile} {
    flex-direction: column;
    .sidebar{
      margin-right: 0px;
      width:100%;
    }
    &.right-sidebar{
      .sidebar{
        margin-left: 0;
      }
    }
  }
}

.map-form{
  display: flex;
  
  .form{
   width:220px;
   margin-right: 40px;
  }
  .map{
   position: relative;
  //  background-color: $lightBrown;
   flex:1;
   min-height: 420px;
  }
  @media #{$mobile} {
    flex-direction: column-reverse;
    .form, .map{
      width:100%;
      margin:0;
    }
    .map{
      margin-bottom: 20px;
    }
  }
 }


.callout{
  p {
    font-family: $baseFontFamily;
  }
  background-color: $brandBrown;
  color: $white;
  padding: 16px;
  line-height: 1.8;
  @media #{$mobile} {
    margin-bottom: 20px;
  }
}

.content-section{
  .align-left{
    float:left;
    margin-right:25px;
    margin-bottom:25px;  
  }
  h1{
    margin-bottom: 30px;
  }
  h2{
    margin-bottom: 20px;
  }
  h4{
    margin-bottom: 8px;
  }
  p{
    margin-bottom: 20px;
  }
}

.intro-section{
  h2{
    margin-bottom:20px;
  }
  p{
    margin-bottom: 10px;
    strong{
      text-transform: uppercase;
      font-weight: 500;
    }
  }
}

.list-item, .blurb {
  margin-bottom: 20px;
  h4{
    font-style: italic;
    font-weight: 700;
    margin-bottom: 5px;
  }
  h6{
    font-weight: 600;
    font-family: $altFontFmaily;
    margin-bottom: 5px;
  }
  ul{
    padding-left: 10px;
    margin-bottom: 10px;
  }
  li {
    padding-left: 10px;
    position: relative;
    font-family: $altFontFmaily;
    &:before {
      content:'-';
      position: absolute;
      right: 100%;;
    }
  }
}

hr {
  margin:20px 0;
  height:8px;
  border:0;
  background-color: $gray90;
}

.tab-header{
  font-style: italic;
  margin-bottom: 10px;
  .tab-item{
    display: inline-block;
    cursor: pointer;
    &.active{
      color:$brandGreen;
    }
  }
  .tab-serperator{
    padding:0 10px;
    display: inline-block;
  }

}

.tab-content{
  padding:10px 20px;
  h4{
    font-style: italic;
    font-weight: 600;
    margin-bottom: 20px;
  }
  p{
    font-size: 15px;
    font-style: italic;
    font-family: $baseFontFamily;
  }
}

.breadcrumbs{
  font-family: $altFontFmaily;
  font-size: 14px;
  margin-bottom: 20px;
  li{
    display: inline-block;
  }
  .seperator{
    padding:0 5px;
  }
  @media #{$mobile}{
    font-size: 12px;
  }
}

.content-chart{
  h3{
    margin-bottom: 20px;
    font-weight: 500;
  }

  .chart-items {
    border-bottom: 1px solid $gray70;
  }

  .chart-item{
    font-family: $altFontFmaily;
    display: flex;
    border-top: 1px solid $gray70;
    padding:8px 0;

    &.subtitle{
      padding-top: 25px;
      .chart-item--content{
        display: none;
      }
      .chart-item--link{
        font-size: 18px;
      }
      &.index-0{
        border-top: 0px;
        padding-top: 0px;
      }
    }



    &--content{
      flex:1;
    }
    &--group{
      font-weight: bold;
      margin-right: 10px;
    }
    &--link{
      padding-left: 10px;
      font-weight: 600;
      font-style: italic;
    }
  }
}
