  
  /* http://meyerweb.com/eric/tools/css/reset/ 
     v2.0 | 20110126
     License: none (public domain)
  */

  html, body, div, span, applet, object, iframe,
  h1, h2, h3, h4, h5, h6, p, blockquote, pre,
  a, abbr, acronym, address, big, cite, code,
  del, dfn, em, img, ins, kbd, q, s, samp,
  small, strike, strong, sub, sup, tt, var,
  b, u, i, center,
  dl, dt, dd, ol, ul, li,
  fieldset, form, label, legend,
  table, caption, tbody, tfoot, thead, tr, th, td,
  article, aside, canvas, details, embed, 
  figure, figcaption, footer, header, hgroup, 
  menu, nav, output, ruby, section, summary,
  time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
  }
  /* HTML5 display-role reset for older browsers */
  article, aside, details, figcaption, figure, 
  footer, header, hgroup, menu, nav, section {
    display: block;
  }
  body {
    line-height: 1;
  }
  ol, ul {
    list-style: none;
  }
  blockquote, q {
    quotes: none;
  }
  blockquote:before, blockquote:after,
  q:before, q:after {
    content: '';
    content: none;
  }
  table {
    border-collapse: collapse;
    border-spacing: 0;
  }

  /* Also apply box-sizing: border-box to everything by default */

  html {
    box-sizing: border-box;
  }

  * {
    &,
    &::after,
    &::before {
      box-sizing: inherit;
    }
  }

  /* override curator feed css */
  #curator-feed {
    margin-top: 8px;
    .crt-grid-post-v2 {
      .crt-post-hover {
        .crt-post-header {
          font-size: 16px !important;
        }
        .crt-post-content-text {
          font-size: 14px !important;
        }
        .crt-post-footer {
          font-size: 14px !important;
        }
      }
    }
    .crt-load-more a {
      color: transparent !important;
    }
    .crt-load-more a:before {
      content: "More";
      color: #000;
      position: relative;
      left: 50px;
      font-weight: 100;
    }
    .crt-post-share {
      display: none;
    }
  }
  .crt-popup-wrapper .crt-popup .crt-popup-footer .crt-post-share {
    display: none;
  }
