
@import "_variables";
@import "_mixins";

//
// Typography
// --------------------------------------------------
// Customize this to meet your project needs


// Body text
// -------------------------

html {
  font-size: 16px; // 16px @ $grid-max-width of 1140px wide = 1.4vw

  @media #{$desktop-max} {
    // font-size: 16px; // limit font-size at widths larger than $grid-max-width
  }

  @media (max-width: px-em($grid-mobile-breakpoint)) {
  }
}

body {
  @include fontRegular;
  color: $defaultTextColor;
  line-height: $baseLineHeight;
}

strong {
  font-weight: bold;
}

// Links
// -------------------------

a {
  color: $linkColor;
  text-decoration: none;
  transition: color $transitionFast linear;
}
a:hover,
a:active,
a:focus {
  color: $linkColorHover;
  text-decoration: none;
}

p{
  font-size: 16px;
  font-family: $altFontFmaily;
  line-height: 1.6;
}
ul{
  font-family: $altFontFmaily;
}

em{
 font-style: italic;
}

h1, h2, h3, h4, h5, h6, .t1, .t2, .t3, .t4, .t5, .t6 {
  text-rendering: optimizeLegibility; // disable this if we have performance issues.
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  line-height: 1em;
  margin: 0;
}

.t {
  text-rendering: optimizeLegibility; // disable this if we have performance issues.
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
  letter-spacing: 1px;
}

h1 {
  font-size: $h1;
}
h2 {
  font-size: $h2;
}
h3 {
  font-size: $h3;
}
h4 {
  font-size: $h4;
}
h5 {
  font-size: $h5;
}
h6 {
  font-size: $h6;
}

.t1 {
  font-size: $h1 * $baseScale;
}
.t2 {
  font-size: $h2 * $baseScale;
}
.t3 {
  font-size: $h3 * $baseScale;
}
.t4 {
  font-size: $h4 * $baseScale;
}
.t5 {
  font-size: $h5 * $baseScale;
}
.t6 {
  font-size: $h6 * $baseScale;
}

.text-center{
 text-align: center;
}
.text-right{
 text-align: right;
}

@media #{$mobile} {
  p{
    font-size: 14px;
  }
}