
// COLORS
$brandBrown: #5a4a43;
$lightBrown: #b8b3b1;
$brandGreen: #1ba450;
$brandYellow: #c6b803;
$lightYellow: #f8f6de;

$white:           #ffffff;
$gray90:          #f8f7f5;
$gray80:          #cccccc;
$gray70:          #b2b2b2;
$gray60:          #999999;
$gray50:          #7f7f7f;
$gray40:          #666666;
$gray30:          #4c4c4c;
$gray20:          #333333;
$gray10:          #191919;
$black:           #000000;
$brandPrimary:    #fff;
$brandLight:      lighten($brandPrimary, 10%);
$brandDark:       darken($brandPrimary, 10%);
$mainContentLinkColor: #279FCD;
$mainContentLinkHoverColor: #01509b;

$siteDark:        #070707;
$siteSubtle:      $lightBrown;

$defaultTextColor: $brandBrown;
$linkColor: $brandYellow;
$linkColorHover: $brandGreen;
$footerlinkColor: $brandLight;
$footerlinkColorHover: $brandDark;



// TYPOGRAPHY

$h1: 28px;
$h2: 24px;
$h3: 20px;
$h4: 18px;
$h5: 16px;
$h6: 15px;

$baseScale: 1.0;

$baseLineHeight: 1.5 !default;
$baseFontFamily: 'Noto Serif', serif;
$headingsFontFamily: 'Noto Serif', serif;
$altFontFmaily: 'Montserrat', sans-serif;

$bodyFontLightWeight: 300;
$bodyFontNormalWeight: 400;
$bodyFontBoldWeight: 700;
$headingLightWeight: 300;
$headingNormalWeight: normal;
$headingBoldWeight: bold;
$headingExtraBoldWeight: bold;

// TRANSITIONS

$transitionSuperslow:   0.5s;
$transitionSlower:      0.4s;
$transitionSlow:        0.3s;
$transitionSlowish:     0.25s;
$transitionNormal:      0.2s;
$transitionFast:        0.15s;
$transitionFaster:      0.10s;
$transitionSuperfast:   0.05s;
$transitionFastest:     0.025s;

// Z-INDEX

$zTopLevel: 400;
$zSetForward: 300;
$zMiddle: 200;
$zBottomLevel: 100;

// GRID
$grid-num-cols: 12;

// these are based on Salesforce documentation
$grid-tiny-breakpoint: 480px;
$grid-mobile-breakpoint: 720px;
$grid-tablet-breakpoint: 980px;
$grid-max-width: 1160px;

$tiny: "only screen and (max-width : #{$grid-tiny-breakpoint})";
$mobile: "only screen and (max-width : #{$grid-mobile-breakpoint})";
$tablet: "only screen and (max-width : #{$grid-tablet-breakpoint})";
$tablet-only: "only screen and (min-width : #{$grid-mobile-breakpoint + 1}) and (max-width : #{$grid-tablet-breakpoint})";
$desktop: "only screen and (min-width : #{$grid-tablet-breakpoint + 1})";
$desktop-max: "only screen and (min-width: #{$grid-max-width})";
$retina: "(-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)";

// BUTTONS

$btnTxtColor: #fff;
$btnTxtHoverColor: #98989a;
$btnColor: #000;
$btnHoverColor: #000;

// EASING

@import "_easings";
