<template>
  <div id="app" v-if="isLoaded">
    <global-header></global-header>
    <router-view/>
    <global-footer></global-footer>
    <mobile-nav></mobile-nav>
    <form-modal></form-modal>
  </div>
</template>

<script>
import Header from '@/components/Header'
import Footer from '@/components/Footer'
import MobileNav from '@/components/MobileNav'
import FormModal from '@/components/FormModal'
import { mapActions, mapState } from 'vuex'
import api from '@/api'
export default {
  name: 'App',
  created () {
    window.addEventListener('resize', this.handleResize.bind(this))
    this.handleResize()

    let self = this

    api.makeRequest('nav', this.$store.state.locale).then(function (response) {
      console.log(response)
      self.$store.dispatch('setNavData', response.data)
    }).catch(function (e) {
      console.log('Error', e)
    })
    api.makeRequest('global', this.$store.state.locale).then(function (response) {
      self.$store.dispatch('setGlobalData', response.data.blocks)
    }).catch(function (e) {
      console.log('Error', e)
    })
  },
  computed: {
    isLoaded () {
      return this.$store.state.navData && this.$store.state.globalData
    },
    ...mapState({
      isMobile: (state) => state.isMobile,
    }),
  },
  methods: {
    ...mapActions([
      'setIsMobile',
    ]),
    handleResize () {
      let width = window.innerWidth
      if (width <= 720 && this.isMobile === false) {
        this.setIsMobile({ isMobile: true })
      } else if (width > 720 && this.isMobile === true) {
        this.setIsMobile({ isMobile: false })
      }
    },
  },
  components: {
    'global-footer': Footer,
    'global-header': Header,
    'mobile-nav': MobileNav,
    'form-modal': FormModal,
  },
}
</script>

<style lang="scss">
@import "./assets/sass/main.scss";
</style>
