<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <link rel="icon" href="<%= BASE_URL %>favicon.ico">
  <title>Guide to the Native Trees and Shrubs of North Africa</title>
</head>

<body>
  <noscript>
      <strong>We're sorry but this site doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
  <div id="app"></div>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBGqmUPyiq0sW6DujX5B8gGjBFXynmkqaU&libraries=drawing"></script>
  <script type="text/javascript">
    window.csrfTokenName = "{{ craft.app.config.general.csrfTokenName|e('js') }}";
    window.csrfTokenValue = "{{ craft.app.request.csrfToken|e('js') }}";
  </script>
  <!-- built files will be auto injected -->
</body>

</html>
