<template>
 <div class='section' v-if="apiData">
   <div class="container">

    <div class="two-column-sidebar">
      <!-- <div class="sidebar">
      </div> -->
      <div class="column-content">
       <div class="content-section">
          <h1>{{apiData.title}}</h1>
          <div class="blurb" v-html="apiData.description"></div>
        </div>
        
      </div>
    </div>
   </div>
 </div>
</template>

<script>
import api from '@/api'
export default {
  data () {
    return {
      apiData: null,
    }
  },
  mounted (to, from, next) {
    // load data
    let self = this
    api.makeRequest('page/content/' + this.$route.params.slug, this.$store.state.locale).then(function (response) {
      self.apiData = response.data
      console.log(self.apiData)
    }).catch(function (e) {
      console.log('Error', e)
    })
  },
  beforeRouteUpdate (to, from, next) {
    let self = this
    this.apiData = null
    api.makeRequest('page/content/' + to.params.slug, this.$store.state.locale).then(function (response) {
      self.apiData = response.data
      console.log(self.apiData)
    }).catch(function (e) {
      console.log('Error', e)
    })
    next();
    
  },
}
</script>
<style lang="scss" scoped>
.blurb{
  margin-bottom: 20px;
}
</style>
