<template>
 <div class="page home">
 <section class="section">

  <div class="container">

  <h1 class="title is-3">Contact</h1>
  <p class='subtitle'>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem est, ipsam deleniti?</p>

  <div class="field">
  <label class="label">Name</label>
  <div class="control">
    <input class="input" type="text" placeholder="Name">
  </div>
</div>

<div class="field">
  <label class="label">Email</label>
  <div class="control">
    <input class="input" type="email" placeholder="Email Address">
  </div>
</div>

<div class="field">
  <label class="label">Subject</label>
  <div class="control">
    <input class="input" type="text" placeholder="Subject">
  </div>
</div>

<div class="field">
  <label class="label">Message</label>
  <div class="control">
    <textarea class="textarea" placeholder="Textarea"></textarea>
  </div>
</div>

<div class="field is-grouped">
  <div class="control">
    <button class="button is-link">Submit</button>
  </div>
  <div class="control">
    <button class="button is-text">Cancel</button>
  </div>
</div>

</div>

</section>
</div>

</template>

<script>

export default {
  name: 'Contact',
}
</script>
