<template>
 <section class='section' v-if="apiData">
   <photo-modal v-if="bigPhoto" :photo="bigPhoto" @close="modalClose"></photo-modal>
  <div class="container">
    <div class="two-column-sidebar right-sidebar">
      <div class="column-content">
      <nav class="breadcrumbs" aria-label="breadcrumbs">
        <ul>
          <li><router-link to="/families">{{$store.state.globalData.families}}</router-link></li>
          <li><span class="seperator">/</span></li>
          <li class="is-active"><span class="active">{{apiData.shortName}}</span></li>
        </ul>
      </nav>

      <div class="content-section">

        <h2 v-html="apiData.name"></h2>
        <div v-html="apiData.description"></div>
        <div class='reverse-indent' v-html="apiData.references"></div>

      </div>
      <hr>

      <div class="content-chart"> 
        <h3>{{$store.state.globalData.genusKey}}:</h3>
        <div class="chart-items">
          <div  :class="sectionType(item.type, index)" v-for="(item, index) in apiData.chart">
            <div class="chart-item--content">
              <span class="chart-item--group">{{item.group}}</span>
              <span class="chart-item--description">{{item.description}}</span>
            </div>
            <div class="chart-item--link">
              <span v-if="item.type === 'group'">{{item.subgroup}}</span>
              <span v-else-if="item.type === 'subtitle'">{{item.subtitle}}</span>
              <router-link v-else :to="`/${item.type}/${item.genus.slug}`">{{item.genus.name}}</router-link>
            </div>
          </div>
        </div>
      </div>
      </div>

    </div>
    <photo-slider v-if="apiData.photos.length > 0" :photos="apiData.photos" @photoClicked="photoClicked"></photo-slider>
  </div>
 </section>
</template>
<script>
import api from '@/api'

import PhotoModal from '@/components/PhotoModal'
import PhotoSlider from '@/components/PhotoSlider'
export default {
  data () {
    return {
      apiData: null,
      bigPhoto: null,
    }
  },
  components: {
    'photo-modal': PhotoModal,
    'photo-slider': PhotoSlider,
  },
  methods: {
      
  },
  mounted (to, from, next) {
    // load data
    let self = this
    api.makeRequest('family/' + this.$route.params.id, this.$store.state.locale).then(function (response) {
      self.apiData = response.data
    }).catch(function (e) {
      console.log('Error', e)
    })
  },
  beforeRouteUpdate (to, from, next) {
    let self = this
    api.makeRequest('family/' + to.params.id, this.$store.state.locale).then(function (response) {
      self.apiData = response.data
    }).catch(function (e) {
      console.log('Error', e)
    })
  },
  methods: {
    sectionType (type, index) {
        return 'chart-item ' + type + ' index-'+ index
    },
    modalClose () {
      this.bigPhoto = null
    },  
    photoClicked (photo) {
      this.bigPhoto = photo
    },
  },
}
</script>
