<template>
  <div v-if="apiData" class='section'>
    <div class="container">
      <div class="single-column">
        <div class="intro-section">
          <h2>{{apiData.page.title}}</h2>
          <div class="intro" v-html="apiData.page.intro"></div>
          <div class="tab-header">
            <div :class="{'tab-item':'tab-item', 'active': activeTab('gymnosperms') }" v-on:click="tabClick('gymnosperms')">{{apiData.page.tabs[0].title}}</div>
            <div class="tab-serperator">/</div>
            <div :class="{'tab-item':'tab-item', 'active': activeTab('angiosperms') }" v-on:click="tabClick('angiosperms')">{{apiData.page.tabs[1].title}}</div>
          </div>
          <div class="tab-content" v-if="activeTab('gymnosperms')" v-html="apiData.page.tabs[0].content"></div>
          <div class="tab-content" v-if="activeTab('angiosperms')" v-html="apiData.page.tabs[1].content"></div>
          <div class="copy" v-html="apiData.page.copy"></div>
        </div>
        <hr />
        <p>{{$store.state.globalData.listBy}}:</p>
        <div class="tab-header">
          <div :class="{'tab-item':'tab-item', 'active': activeFilter('order') }" v-on:click="filterClick('order')">{{$store.state.globalData.phylogenetic}}</div>
          <div class="tab-serperator">/</div>
          <div :class="{'tab-item':'tab-item', 'active': activeFilter('alpha') }" v-on:click="filterClick('alpha')">{{$store.state.globalData.alphabetical}}</div>
        </div>
        <div class="link-list">
          <div class="column" v-for="item in familyList">
            <router-link :to="`/family/${item.slug}`">{{item.title}}</router-link>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import api from '@/api'
export default {
  data () {
    return {
      apiData: null,
      tabKey: '',
      filterKey: 'order',
    }
  },
  computed: {
    sortedData () {

      if(this.filterKey === "order"){
        return this.apiData.api.data
      }else{
        return [...this.apiData.api.data].sort((a, b) => {
          if (a.title < b.title)
            return -1;
          if ( a.title > b.title)
            return 1;
          return 0;
        })
      }
      
    },
    familyList () {
      return !this.apiData ? [] : this.sortedData
    },
  },
  mounted (to, from, next) {
    // load data
    let self = this
    Promise.all([
      api.makeRequest('families', this.$store.state.locale),
      api.makeRequest('page/families', this.$store.state.locale)
    ]).then(function (response) {
      console.log('res', response)
      self.apiData = { api: response[0].data, page: response[1].data.data[0] }
    }).catch(function (e) {
      console.log('Error', e)
    })
  },
  methods: {
    tabClick (key) {
      if (key === this.tabKey) {
        this.tabKey = ''
      } else {
        this.tabKey = key
      }
    },
    activeTab (key) {
      return key === this.tabKey
    },
    filterClick (key) {
      if (key === this.filterKey) {
        this.filterKey = ''
      } else {
        this.filterKey = key
      }
    },
    activeFilter (key) {
      return key === this.filterKey
    },
  },
}
</script>

<style lang="scss">
@import "../assets/sass/_variables";
.link-list{
  padding:20px 0;
  display: flex;
  flex-wrap: wrap;
  margin:0 -5px;
  .column{
    width:25%;
    padding:5px;
    @media #{$mobile} {
      width:100%;
    }
  }
  a{
    color:$brandBrown;
    font-family:$altFontFmaily;
    font-weight: 600;
    font-size: 14px;
  }
}
</style>
