<template>
 <section class='section' v-if="apiData">
  <photo-modal v-if="bigPhoto" :photo="bigPhoto" @close="modalClose"></photo-modal>
  <div class="container">
   <div class="two-column-sidebar right-sidebar">
     <div class="column-content">
      <nav class="breadcrumbs" aria-label="breadcrumbs">
        <ul>
          <li><router-link to="/families">{{$store.state.globalData.families}}</router-link></li>
          <li><span class="seperator">/</span></li>
          <li><router-link :to="`/family/${apiData.family.slug}`">{{apiData.family.name}}</router-link></li>
          <li v-if="apiData.subfamily.slug"><span class="seperator">/</span></li>
          <li v-if="apiData.subfamily.slug"><router-link :to="`/subfamily/${apiData.subfamily.slug}`">{{apiData.subfamily.name}}</router-link></li>
          <li><span class="seperator">/</span></li>
          <li class="is-active"><span class="active">{{apiData.shortName}}</span></li>
        </ul>
      </nav>

      <div class="content-section">

        <h2>{{apiData.title}}</h2>
        <div v-html="apiData.description"></div>
        <div class='reverse-indent' v-html="apiData.references"></div>

      </div>

      <hr>
      <div class="content-chart">
        <h3>{{$store.state.globalData.speciesKey}}:</h3>
        <div class="chart-items">
          <div class="chart-item" v-for="item in apiData.chart">
            <div class="chart-item--content">
              <span class="chart-item--group">{{item.group}}</span>
              <span class="chart-item--description">{{item.description}}</span>
            </div>
            <div class="chart-item--link">
              <span v-if="item.type === 'group'">{{item.subgroup}}</span>
              <router-link v-else :to="`/species/${item.species.slug}`">{{item.species.name}}</router-link>
            </div>
          </div>
        </div>
      </div>
      </div>
     
     <photo-slider v-if="apiData.photos.length > 0" :photos="apiData.photos" @photoClicked="photoClicked"></photo-slider>
     </div>

   </div>
  </div>
 </section>
</template>

<style lang="scss">

</style>

<script>
import api from '@/api'
import PhotoModal from '@/components/PhotoModal'
import PhotoSlider from '@/components/PhotoSlider'
export default {
  data () {
    return {
      apiData: null,
      bigPhoto: null,
    }
  },
  components: {
    'photo-modal': PhotoModal,
    'photo-slider': PhotoSlider,
  },
  mounted (to, from, next) {
    // load data
    let self = this
    api.makeRequest('genus/' + this.$route.params.id, this.$store.state.locale).then(function (response) {
      self.apiData = response.data
    }).catch(function (e) {
      console.log('Error', e)
    })
  },
  beforeRouteUpdate (to, from, next) {
    let self = this
    api.makeRequest('genus/' + to.params.id, this.$store.state.locale).then(function (response) {
      self.apiData = response.data
    }).catch(function (e) {
      console.log('Error', e)
    })
  },
  methods: {
    modalClose () {
      this.bigPhoto = null
    },  
    photoClicked (photo) {
      this.bigPhoto = photo
    },
  },
}
</script>
