<template>
 <div class="page home">
  <section class="hero">
     <div class="container">
       <img :src="require('@/assets/home/hero.jpg')" alt="Homepage Hero">
       <div class="hero-body" v-if="apiData">
        <div class='intro' v-html="apiData.intro"></div>
        <div class='copy' v-html="apiData.copy"></div>
       </div>
     </div>
 </section>

  <div class="container">
   <section class="map-form">
    <div class="form">
     <contact-form />
    </div>
    <div class="map">
     <drawing-map />
    </div>
   </section>
  </div>

 </div>

</template>
<script>
import api from '@/api'
import ContactForm from '@/components/ContactForm'
import DrawingMap from '@/components/DrawingMap'
export default {
  name: 'home',
  components: {
    'contact-form': ContactForm,
    'drawing-map': DrawingMap,
  },
  data () {
    return {
      apiData: null,
    }
  },
  mounted (to, from, next) {
    // load data
    let self = this
    api.makeRequest('page/home', this.$store.state.locale).then(function (response) {
      self.apiData = response.data
      console.log(self.apiData)
    }).catch(function (e) {
      console.log('Error', e)
    })
  },
}
</script>
<style lang="scss" scoped>
@import "../assets/sass/_variables";
.map-form{
  min-height:0px;
  .map{
    // display: none;
  }
  .form{
    // width: 100%;
  }
}
.hero{
 img{
  width:100%;
 }
 .hero-body{
  padding:32px 0;
  width:80%;
  margin:0 auto;
  text-align: center;
 }
}
</style>
<style lang="scss">
@import "../assets/sass/_variables";
.home{
  .intro{
   font-family: $altFontFmaily;
   font-size: 18px;
   letter-spacing: 0;
   line-height: 1.8;
   margin-bottom: 14px;
  }
  .copy p{
   font-family: $altFontFmaily;
   font-size: 15px;
   letter-spacing: 0;
   margin-bottom: 10px;
  }
}

</style>

