<template>
  <div class="search-results">
    <div class="section">
      <div class="container">
        <div class="map">
          <drawing-map />
        </div>
      </div>
    </div>
    <section class="section">
     <div class="container">
      <h1 class="title">Search results</h1>
      <div class="columns is-multiline">

       <div class="column is-one-third" v-for="(data,index) in apiData.data" :key="index">
        <router-link to="/genus/genus-title" class='search-link'>{{data.title}}</router-link>
        <div class='description' v-html="data.description"></div>
       </div>

      </div>
     </div>
    </section>
  </div>
</template>

<script>
import DrawingMap from '@/components/DrawingMap'
import api from '@/api'
export default {
  data () {
    return {
      apiData: null,
    }
  },
  mounted (to, from, next) {
    // load data
    let self = this
    api.makeRequest('search/map', this.$store.state.locale, `&ne=${this.$route.params.ne}&sw=${this.$route.params.sw}`).then(function (response) {
      self.apiData = response.data
    }).catch(function (e) {
      console.log('Error', e)
    })
  },
  computed: {
    term () {
      return this.$route.params.query
    }
  },
  components: {
    'drawing-map': DrawingMap,
  }
  
}
</script>

<style lang='scss'>
.section{
  padding: 20px 0;
  h1{
    margin-bottom: 10px;
  }
  .description{
    padding:0 5px;
  }
}
.map{
  position: relative;
  width: 100%;
  padding-top: 56%;
  color: black;
  .google-map-container{
    top:0;
    left: 0;
    position: absolute;
    height: 100%;
    width: 100%;
  }
}
.column{
  margin-bottom: 15px;
}
.search-link{
 display: block;
 background-color: rgba(255,255,255,.8);
 padding:5px;
 .title{
  margin-bottom: 0px;
 }
 &:hover{
  background-color: rgba(255,255,255,.4);
 }
}
</style>
