<template>
 <div class='section' v-if="apiData">
   <div class="container">

    <div class="two-column-sidebar">
      <div class="sidebar">
        <div class="callout" v-html="apiData.intro"></div>
      </div>
      <div class="column-content">
        <div class="content-section">
          <h1>{{apiData.title}}</h1>
          <div class="blurb">
            <h2 slot="title">{{apiData.newsTitle}}</h2>
            <div slot="snippet" v-html="apiData.newsIntro"></div>
            <div v-for="(article,index) in apiData.news" :key="index">
              <router-link :to="`/article/${article.slug}`">{{article.title}}</router-link>
            </div>
          </div>
          <div class="blurb">
            <h2 slot="title">{{apiData.linksTitle}}</h2>
            <div slot="snippet" v-html="apiData.linksIntro"></div>
            <div>
              <router-link :to="`/resource/links`">Read More</router-link>
            </div>
          </div>
          <div class="blurb">
            <h2 slot="title">{{apiData.glossaryTitle}}</h2>
            <div slot="snippet" v-html="apiData.glossaryIntro"></div>
            <div>
              <router-link :to="`/resource/glossary`">Read More</router-link>
            </div>
          </div>
          <div class="blurb">
            <h2 slot="title">{{apiData.referencesTitle}}</h2>
            <div slot="snippet" v-html="apiData.referencesIntro"></div>
            <div>
              <router-link :to="`/resource/references`">Read More</router-link>
            </div>
          </div>
        </div>
        
      </div>
    </div>
   </div>
 </div>
</template>

<script>
import api from '@/api'
export default {
  data () {
    return {
      apiData: null,
    }
  },
  mounted (to, from, next) {
    // load data
    let self = this
    api.makeRequest('page/resources', this.$store.state.locale).then(function (response) {
      self.apiData = response.data
      console.log(self.apiData)
    }).catch(function (e) {
      console.log('Error', e)
    })
  },
}
</script>
<style lang="scss" scoped>
.blurb{
  margin-bottom: 20px;
}
</style>
