<template>
 <div class='section' v-if="apiData">
   <div class="container">

    <div class="two-column-sidebar">
      <!-- <div class="sidebar">
      </div> -->
      <div class="column-content">
        <div class="content-section" v-if="$route.params.slug === 'links'">
          <h1>{{apiData.linksTitle}}</h1>
          <div class="blurb">
            <a :href="`${link.url}`" v-for="(link,index) in apiData.links" :key="index">{{link.title}}</a>
          </div>
        </div>
        <div class="content-section" v-if="$route.params.slug === 'glossary'">
          <h1>{{apiData.glossaryTitle}}</h1>
          <div class="blurb" v-html="apiData.glossary"></div>
        </div>
        <div class="content-section" v-if="$route.params.slug === 'references'">
          <h1>{{apiData.referencesTitle}}</h1>
          <div class="blurb" v-for="(reference,index) in apiData.references" :key="index">
            <h2>{{reference.title}}</h2>
            <div v-html="reference.content"></div>
          </div>
        </div>
        
      </div>
    </div>
   </div>
 </div>
</template>

<script>
import api from '@/api'
export default {
  data () {
    return {
      apiData: null,
    }
  },
  mounted (to, from, next) {


    // load data
    let self = this
    api.makeRequest('page/resources', this.$store.state.locale).then(function (response) {
      self.apiData = response.data
      console.log(self.apiData)
    }).catch(function (e) {
      console.log('Error', e)
    })
  },
}
</script>
<style lang="scss" scoped>
.blurb{
  margin-bottom: 20px;
}
</style>
