<template>
  <div class="search-results" v-if="apiData">
    <section class="section">
     <div class="container">
      <h1 class="title">Search results for '{{term}}'</h1>
      <div class="columns is-multiline">

       <div class="column is-one-third" v-for="(data,index) in apiData.data" :key="index">
        <router-link :to="`/${data.section}/${data.slug}`" class='search-link'>{{data.title}}</router-link>
       </div>

      </div>
     </div>
     <!-- <section class="section">
     <div class="container">
      <nav class="pagination" role="navigation" aria-label="pagination">
        <a class="pagination-previous" title="This is the first page" disabled>Previous</a>
        <a class="pagination-next">Next page</a>
        <ul class="pagination-list">
          <li>
            <a class="pagination-link is-current" aria-label="Page 1" aria-current="page">1</a>
          </li>
          <li>
            <a class="pagination-link" aria-label="Goto page 2">2</a>
          </li>
          <li>
            <a class="pagination-link" aria-label="Goto page 3">3</a>
          </li>
        </ul>
      </nav>
     </div>
     </section> -->
    </section>
  </div>
</template>

<script>
import api from '@/api'
export default {
  data () {
    return {
      apiData: null,
    }
  },
  mounted (to, from, next) {
    // load data
    this.callSearch()
  },
  beforeRouteUpdate (to, from, next) {
    next()
    this.callSearch()
    
    
  },
  computed: {
    term () {
      return this.$route.params.query
    }
  },
  methods: {
    callSearch () {
      let self = this
      self.apiData = null
      api.makeRequest('search', this.$store.state.locale, '&q='+ this.term).then(function (response) {
        self.apiData = response.data
      }).catch(function (e) {
        console.log('Error', e)
      })
    }
  }
  
}
</script>


<style lang='scss' scoped>
.section{
  padding: 20px 0;
  h1{
    margin-bottom: 10px;
  }
  .description{
    padding:0 5px;
  }
}
.columns{
  display: flex;
  flex-wrap: wrap;
}
.column{
  margin-bottom: 15px;
  &.is-one-third{
    width: calc(100% / 3);
  }
}
.search-link{
 display: block;
 background-color: rgba(255,255,255,.8);
 padding:5px;
 .title{
  margin-bottom: 0px;
 }
 &:hover{
  background-color: rgba(255,255,255,.4);
 }
}
</style>
