<template>
  <div class="species" v-if="apiData">
    <photo-modal v-if="bigPhoto" :photo="bigPhoto" @close="modalClose"></photo-modal>
    <div class="container">
      <div class="two-column-sidebar right-sidebar">
        <div class="column-content">
          <nav class="breadcrumbs" aria-label="breadcrumbs">
          <ul>
            <li><router-link to="/families">{{$store.state.globalData.families}}</router-link></li>
            <li><span class="seperator">/</span></li>
            <li><router-link :to="`/family/${apiData.family.slug}`">{{apiData.family.name}}</router-link></li>
            <li v-if="apiData.subfamily.slug"><span class="seperator">/</span></li>
            <li v-if="apiData.subfamily.slug"><router-link :to="`/subfamily/${apiData.subfamily.slug}`">{{apiData.subfamily.name}}</router-link></li>
            <li><span class="seperator">/</span></li>
            <li><router-link :to="`/genus/${apiData.genus.slug}`">{{apiData.genus.name}}</router-link></li>
            <li><span class="seperator">/</span></li>
            <li class="is-active"><span class="active">{{apiData.shortName}}</span></li>
          </ul>
          </nav>

          <div class="content-section">
            <h2 v-html="apiData.name"></h2>
            <div class="content-section" v-html="apiData['otherNames']"></div>
            <div class="content-section" v-html="apiData['description']"></div>
            <hr />
            <h4>{{$store.state.globalData.flowering}}:</h4>
            <div class="content-section" v-html="apiData['flowering']"></div>
            <h4>{{$store.state.globalData.fruiting}}:</h4>
            <div class="content-section" v-html="apiData['fruiting']"></div>
            <h4>{{$store.state.globalData.habitat}}:</h4>
            <div class="content-section" v-html="apiData['habitat']"></div>
            <h4>{{$store.state.globalData.distribution}}:</h4>
            <div class="content-section" v-html="apiData['distribution']"></div>
            <h4>{{$store.state.globalData.observations}}:</h4>
            <div class="content-section" v-html="apiData['observations']"></div>
            <h4>{{$store.state.globalData.conservationStatus}}:</h4>
            <div class="content-section" v-html="apiData['conservation']"></div>
          </div>
           <div class="map-form">
          <div class="form">
            <contact-form />
            </div>
            <div class="map">
            <display-map v-if="apiData.kml" :kml="apiData.kml" />
            </div>
          </div>

        </div>
        <photo-slider v-if="apiData.photos.length > 0" :photos="apiData.photos" @photoClicked="photoClicked"></photo-slider>
    </div>
  </div>
  </div>

</template>



<script>
import api from '@/api'
import DisplayMap from '@/components/DisplayMap'
import PhotoModal from '@/components/PhotoModal'
import PhotoSlider from '@/components/PhotoSlider'
import ContactForm from '@/components/ContactForm'
import { mapState } from 'vuex'

export default {
  name: 'Species',
  data () {
    return {
      apiData: null,
      bigPhoto: null,
    }
  },
  computed: {
    ...mapState({
      isMobile: (state) => state.isMobile,
    }),
  },
  components: {
    'display-map': DisplayMap,
    'contact-form': ContactForm,
    'photo-modal': PhotoModal,
    'photo-slider': PhotoSlider,
  },
  mounted (to, from, next) {
    // load data
    let self = this
    api.makeRequest('species/' + this.$route.params.id, this.$store.state.locale).then(function (response) {
      self.apiData = response.data
    }).catch(function (e) {
      console.log('Error', e)
    })
  },
  beforeRouteUpdate (to, frome, next) {
    let self = this
    api.makeRequest('species/' + to.params.id, this.$store.state.locale).then(function (response) {
      self.apiData = response.data
    }).catch(function (e) {
      console.log('Error', e)
    })
  },
  methods: {
    modalClose () {
      this.bigPhoto = null
    },  
    photoClicked (photo) {
      this.bigPhoto = photo
    },
  },
}
</script>
