<template>
 <div class='section' v-if="apiData">
   <div class="container">

    <div class="two-column-sidebar">
      <div class="sidebar">
        <div class="callout" v-html="apiData.intro">
        </div>
      </div>
      <div class="column-content">
        <div class="content-section">
          <h1>{{apiData.title}}</h1>

          <div class='blurb' v-for="(section, index) in apiData.sections" :key="index">
            <h2 slot="title">{{section.title}}</h2>
            <div slot="snippet" v-html="section.snippet"></div>
            <router-link :to="`/why/${section.slug}`">Read More</router-link>
          </div>
        </div>

        </div>
      </div>

    </div>
  </div>
</template>
<style lang="scss">
.content-section .blurb{
  margin-bottom: 20px;
  p{
    margin-bottom: 5px;
  }
}
</style>

<script>
import api from '@/api'
export default {
  data () {
    return {
      apiData: null,
    }
  },
  methods: {
      sectionType (type, index) {
          return 'chart-item ' + type + ' index-'+ index
      }
  },
  mounted (to, from, next) {
    // load data
    let self = this
    api.makeRequest('page/why', this.$store.state.locale).then(function (response) {
      self.apiData = response.data
      console.log(self.apiData)
    }).catch(function (e) {
      console.log('Error', e)
    })
  },
}
</script>
